@charset "UTF-8";
.side-menu {
	position: absolute;
	left: 0;
	top: 64px;
	width: 260px;
	background: #fff;
	box-shadow: 2px 0 8px rgba(0,0,0,0.18);
	padding: 32px 24px;
	transform: translateX(-100%);
	transition: transform 0.35s cubic-bezier(.4,0,.2,1);
	z-index: 20;
}

.side-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 16px;
}

.side-login-btn, .side-team-btn {
    background: #987de8;
    color: #fff !important;
    border: none;
    border-radius: 20px;
    padding: 7px 24px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 16px;
}

.side-menu hr {
	border: none;
	border-top: 1.5px solid #e0e0e0;
	margin-bottom: 18px;
}

.side-subtitle {
	color: #888;
	font-weight: 600;
	margin-bottom: 12px;
}

.side-team-btn {
    background: #fff;
    color: #987de8 !important;
    border: 1.5px solid #987de8;
    border-radius: 16px;
    padding: 7px 18px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}